@charset "utf-8";
body {
    margin: 0;
}
h1 {
    background-color: pink;
    margin: 0 0 50px 0;
}
.member {
    box-sizing: border-box;
    width: 500px;
    border: 10px solid blue;
    padding: 0 100px;
    margin: 30px auto 0 auto;
    background-color: yellow;
}