@charset "utf-8";
body {
    margin: 0;
    background-color: yellow;
}
.box1{
    background: tomato;
}
.box2{
    background: lime;

}
.box3{
    background: silver;

}
.box4{
    background: orange;

}

@media screen and (max-width: 600px) and (max-width: 767px){
    body{
        background-color: pink;
    }
    .container {
        display: grid;
        grid-template-areas: "box";
        grid-auto-columns: 100%;
        grid-auto-rows: 100px;
    }
    .box4{
        order: -1;
    }
}

@media screen and (min-width: 768px){
    body{
        background-color: skyblue;
    }
    .container{
        display: grid;
        grid-template-areas: "box box";
        grid-auto-columns: 50%;
        grid-auto-rows: 100px;
    }

    .box4{
        grid-row-start: 2;
        grid-column-start: 1;
    }
}