@charset "utf-8";
body{
    margin: 0;
}
div{
    background-color: #000;
}
h1{
    background-color: #ff0;
    position: relative;
    top: -5px;
    left: -5px;
}

h2{
    box-shadow: 5px 5px 0 0 #000;
    background-color: #fcf;
}
.box{
    background-color: #999;
    height: 200px;
    width: 500px;
    position: relative;
}
h3{
    background-color: #0fc;
    position: absolute;
    top: 50px;
    left: 100px;
}
span{
    background-color: #0cf;
    width: 100px;
    position: fixed;
    top:50px;
    right: 50px;
}